.main{
			width:200px;
			background-color:purple;
			left-side-border-color:green;
			left-side-border-thickness:5 pixels;
			padding:10px;
		}
		.heading{
			font-size:20pixels;
			color:white;
			text-decoration:underline;
		}